# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Poetry
poetry.lock

# IDE
.vscode/
.idea/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
terraform.tfvars

# Docker
*.log
db_data/

# System
.DS_Store
Thumbs.db

# Secrets
*.env
.env.*